@import "../../../styles/pallete";

.navbar {
  width: 100vw;
  height: 52px;
  background-color: $main1;
  display: grid;
  align-items: center;
}

.navbarContainer {
  display: grid;
  grid-template-columns: 146px 200px;
  justify-content: space-between;
}