@import "src/styles/pallete";

.wrapper {
  display: grid;
  height: 200px;
  width: 400px;
  grid-template-rows: repeat(2, 1fr) 48px;
  justify-content: center;
  background-color: rgba($main1, 0.4);
  margin: calc(40% - 52px - 290px) auto 0 auto;
  padding: 32px 0;

  & > div {
    width: 240px;
  }

  .button {
    background-color: $main2!important;
  }
}